.newtab-button-box {
  display: none;
}

/* Only show tab close button on hover */
#tabbar tab-item:not(:hover) tab-closebox {
  display: none;
}

/* Hide twisty and collapse/expand tree by clicking on tab's icon */
tab-item tab-twisty {
  margin-left: 3px;
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/* Change styling of pending (unloaded) tabs */
tab-item.discarded tab-item-substance {
  opacity: 0.75;
}

tab-item.unread .label-content {
  font-style: italic;
}

/*
tab-item:not(.pinned) .contextual-identity-marker {
  max-width: 0.5em !important;
  border-radius: 14px;
  left: 0px;
}
tab-item.pinned .contextual-identity-marker {
  max-width: 1em !important;
  height: 0.1em !important;
}
*/
.contextual-identity-marker {
  max-width: 0;
}