# Virtual Surround fro Headphones using JCONVOLVER
# (https://kokkinizita.linuxaudio.org/linuxaudio/)
#
# This JCONVOLVER config downmixes 7 channel audio into 2 headphone
# channels while preserving audio positions as much as possible.
#
# For best results it is recommended to equalize your headphones
# and make them phase-neutral before applying the virtualization
#
# Impulse responses are taken from the HESUVI project.
# https://sourceforge.net/projects/hesuvi/

# -------------------------------------------------------------------------
#
/cd /home/mustaqim/.local/share/virtual-surround
#
#
#                in  out   partition      maxsize       density
# -------------------------------------------------------------------------
/convolver/new    7    2        1024      800000        1.0
#
#
#              num    port name     connect to 
# -------------------------------------------------------------------------
/input/name     1     Input.FL 		"Surround:monitor_FL"
/input/name     2     Input.BL 		"Surround:monitor_BLC"   #5.1
/input/name     3     Input.SL 		"Surround:monitor_SL"    #7.1

/input/name     4     Input.FC 		"Surround:monitor_FC"	# 3.1

/input/name     5     Input.FR 		"Surround:monitor_FR"
/input/name     6     Input.BR 		"Surround:monitor_BRC"	#5.1
/input/name     7     Input.SR 		"Surround:monitor_SR"    #7.1


#
/output/name    1     Output.FL 	"HDA Intel PCH:playback_FL"
/output/name    2     Output.FR 	"HDA Intel PCH:playback_FR"
#
#
#               in out  gain  delay   offset  length  chan     file  
# -------------------------------------------------------------------------
#Front-Left
/impulse/read    1   1   1    0       0       0       1        atmos.wav
/impulse/read    1   2   1    0       0       0       2        atmos.wav

#Back-Left
/impulse/read    2   1   1    0       0       0       5        atmos.wav
/impulse/read    2   2   1    0       0       0       6        atmos.wav

#Side-Left
/impulse/read    3   1   1    0       0       0       3        atmos.wav
/impulse/read    3   2   1    0       0       0       4        atmos.wav

#CENTER
/impulse/read    4   1   1    0       0       0       7        atmos.wav
/impulse/read    4   2   1    0       0       0       14       atmos.wav

#Front-Right
/impulse/read    5   1   1    0       0       0       9        atmos.wav
/impulse/read    5   2   1    0       0       0       8        atmos.wav

#Back-Right
/impulse/read    6   1   1    0       0       0       13       atmos.wav
/impulse/read    6   2   1    0       0       0       12       atmos.wav

#Side-Right
/impulse/read    7   1   1    0       0       0       11       atmos.wav
/impulse/read    7   2   1    0       0       0       10       atmos.wav
