[Desktop Entry]
Name=JDownloader
Comment=Downloader
GenericName=Downloader
Exec=env _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on" java -jar /home/mustaqim/.local/bin/jd2/JDownloader.jar
Icon=jdownloader
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;Downloader;
Keywords=jd;down;
