[Desktop Entry]
Name=Thunderbird
GenericName=Mail Client
Comment=Send and receive mail with Thunderbird
Exec=thunderbird & birdtray
Icon=thunderbird
Terminal=false
Type=Application
MimeType=message/rfc822;x-scheme-handler/mailto;
StartupNotify=true
Categories=Network;Email;
