
html, img {
    -webkit-filter: invert(95%) hue-rotate(180deg);
    color: #17191a;
}
.sidebar, .header.ng-scope, .header.ng-scope, .logo, .main-footer {
    background: white !important;
    color: black;
}
