*,div,pre,textarea,body,input,td,tr,p {
    background-color: #181818 !important;
    background-image: none !important;
    color: #c0c0c0 !important;
    border-color: rgb(55, 60, 62) !important;
}

a {
    color: rgb(105, 151, 244) !important;
}

a:hover,a:focus {
    color: #0181eb !important;
}
a:visited {
    color: #e07070 !important;
}

img {
    opacity: .8;
}
img:hover {
    opacity: 1;
}


/* Hint mode color styling
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^='label'] {
    background-color: #204e8a !important;
    border: 1px solid #2d2d2d !important;
    color: #ffffff !important;
    font: bold 8pt monospace !important;
    opacity: 1 !important;
    padding: .1em .4em !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    font: bold 13pt monospace !important;
}
*[vimbhint^='hint'] {
    background-color: #204e8a30 !important;
    color: #2d2d2d !important;
}
*[vimbhint='hint focus'] {
    background-color: #6699cc !important;
    color: #2d2d2d !important;
}
